.main-header{
  background: url(../../dist/img/back1.jpg) 100% 100% no-repeat;
  //background: url(../../../dist/img/back1.jpg) 100% 100% no-repeat;
  background-size: cover;
  height: 660px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background-header{

}
.wrap-caption-header{
  padding: 98px 260px 0 260px;
}
.wrap-caption-header h1{
  font-weight: 100;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
  color: #282828;
}
.round-button{
  width: 59px;
  height: 59px;
  background-color: #323969;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.button-play{
  color: #f4f5f7;
  margin-bottom: 2px;
  margin-left: 3px;
}
.btn-header{
  background-color: #ff6d6d;
  color: white;
  padding: 12px 56px;
  text-transform: uppercase;
  margin-top: 30px;
}
.header-note{
  opacity: 0.6;
  font-size: 14px;
  letter-spacing: 0.56px;
  font-weight: 400;
}
.header-note-wrap{
  margin-top: 20px;
}
